
[Desktop Entry]
Type=Application
Exec=RandomBackground
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=RandomBackground
Name=RandomBackground
Comment[en_GB]=
Comment=
